---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 18px/1.4 $helveticaNeue !important;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue !important;
  font-weight: 300 !important;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 24px 0 !important;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

a:hover {
  text-decoration: none !important;
}

.btn:hover {
  color: #fff !important;
}

.btn-brand {
  background-color: $blueEye;
  color: #eee;
}

.btn-brand:hover {
  background-color: lighten($blueEye, 5%)
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  text-align: center;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.btn-contrast {
  background: $red;
  color: #eee;
}

.center {
  text-align: center;
  width: 100%;
}

.pad50 {
  padding: 50px 0;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}
.row.is-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
}

.masthead {
  border-bottom: 1px solid $lightGray;

  @include mobile {
    text-align: center;
  }
}

#main-header {
    /*background-color: $blueDark; /*#007bc3;*/
    color: #505050;
    padding: 10px 0;
}

.site-avatar {
  float: left;
  width: 70px;
  height: 30px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: #4c76a4;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
  text-transform: lowercase;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  font-family: $helveticaNeue;
  font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #505050;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

.major-block {
  margin-bottom: 50px;
  overflow: auto;
}

//
// .main
//

.jumbotron {
  background-color: $blueEye !important;
  color: #fff;
}

.home-jumbobox {
  background: #ddd;
  border: 1px solid #8c98a5;
  border-radius: 5px;
  color: #505050;
  padding: 10px;
}


.home-image {
  text-align: center;
  width: 80%;
  margin: auto;
  border: 1px solid #8c98a5;
  border-radius: 50%;
  margin-bottom: 10px;
}

.carousel {
  background: rgba(51, 51, 51, 0.3);
  border-radius: 5px;
  padding: 10px;
}


.home-title a {
  color: $blueEye
}

.posts {
  overflow: auto;
}

.post {
  padding-bottom: 2em;
  padding-top: 50px;
  border-bottom: 1px solid $lightGray;
  font-size: 18px;
  font-weight: 200;
}

.post h2 {
  margin-top: 50px;
  font-weight: 500 !important;
}

.post:last-child {
  padding-bottom: 1em;
}

.post-title {
    text-align: center;
    color: #444444;
    margin-bottom: 30px;
}

.post-meta {
    text-align: center;
    color: $gray;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 30px;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}
.res-nav {
  background-color: $blueEye;
  width:100%;
  text-align:center;
  overflow: auto;
  padding: 10px 0;
}
.res-nav a {
  color: #eee;
}
.res-nav a:hover {
  color: #fff;
}

.resume-row {
  overflow: auto;
}

.resume-row:hover {
  background-color: #e8ffe4;
  overflow: auto;
}
.poem-block {
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 0 !important;
}
.poem-block p {
  margin: 0 !important;
}
.poem-collapse.show {
  display: inline !important;
}
.poem-ul {
  margin: 20px 0;
}
#experience {
  background-color: #eee;
  padding: 20px;
}
.side-block {
  background-color: #fff;
  border-radius: 5px;
  margin: 15px 3px 15px 0;
  padding: 10px 0;
  box-shadow: 0 0 2px #505050;
}
.side-block button {
}

#skillz {
  background-color: $blueEye;
  padding: 10px;
  padding-bottom: 50px;
  color: #eee;
  border: 1px solid darken($blueEye, 10%);
}
.skills-div {
  float: left;
  margin: 0;
  padding: 0 !important;
  color: #222;
}
.skills {
  list-style: none;
  color: #111;
  margin: 0;
  padding: 0 !important;
  width: 100%;
  border: 1px solid #505050;
}
.skills li {
  padding: 0 5px;
  border-top: 1px solid #505050;
  border-bottom: 1px solid #505050;
  font-size: 0.9em;
}
.skill-9:hover {
  background-color: lighten(#bb1313, 10%)
}
.skill-9 {
  background-color: #bb1313;
  color: #eee;
}
.skill-8:hover {
  background-color: lighten(#ff9900, 10%)
}
.skill-8 {
  background-color: #ff9900;
}
.skill-7:hover {
  background-color: lighten(#f9f926, 20%)
}
.skill-7 {
  background-color: #f9f926;
}
.skill-6:hover {
  background-color: lighten(#0bece2, 10%)
}
.skill-6 {
  background-color: #0bece2;
}


.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
