
//
// VARIABLES
//

// Colors
$blueDark: #012D41;
$blueMed: #1BA5B8;
$blueMedDark: #1CA5B8;
$blueLight: #DAECF3;
$blueEye: #4b76a5;
$red: #FF404E;
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}